.features {
    display: flex;

    &__img {
        width: 35px;
        height: 35px;
    }
}
.features__item {
    margin-right: rem(33px);

    &:last-child {
        margin-right: 0;
    }
}